.usersBar {
  width: 349px;
  height: 483px;
  border-right: 1px solid #dbdbdb;
}

.headerUserBar {
  border-bottom: 1px solid #dbdbdb;
  height: 60px;
  padding: 0 20px;
}

.barMessageItem {
  margin-top: 10px;
}