.usersBar {
  width: 349px;
  height: 483px;
  border-right: 1px solid #dbdbdb;
}

.headerUserBar {
  border-bottom: 1px solid #dbdbdb;
  height: 60px;
  padding: 0 20px;
}

.barMessageItem {
  margin-top: 10px;
}

.userMessageItem {
  height: 55px;
  padding: 8px 20px;
}

.userMessageItem:active {
  background-color: #dbdbdb;
}

.active {
  background-color: #dbdbdb;
}

.userMessageItem:hover {
  cursor: pointer;
}

.avatar {
  width: 56px;
  height: 56px;
}

.lastMessageText {
  opacity: 0.5;
}

.modalBox {
  width: 400px;
  height: 375px;
  background-color: white;
  border-radius: 10px;
}

.modalBoxLine {
  width: 400px;
  border-bottom: 1px solid #dbdbdb;
}

.itemModalBox {
  margin: 10px 0 0 10px;
}

.nameModalBox {
  margin-left: 15px !important;
}

.modalWindow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleModalBox {
  margin: 10px 145px !important;
}

.itemUser:hover {
  cursor: pointer;
}

.itemUser:active {
  background-color: #dbdbdb;
  width: 380px;
  border-radius: 15px;
}
