@import "./src/common/styleVariables/styleVariables.module";

.passwordWrapper {
  display: flex !important;
}

.emailWrapper {
  width: 266px !important;
}

.wrapperLoginForm {
  margin-top: 0 !important;

  input {
    height: 15px;
    background-color: #FAFAFA;
  }

  label, input {
    font-size: 12px;
  }

  .loadingButton {
    @extend %buttonStyles;
    margin-top: 7px;
  }
}