.phoneImages {
  margin-right: -10px;

  .images {
    width: 441px;
    height: 603px;
  }
}

.dynamicImg {
  position: absolute;
  margin-left: 144px;
  margin-top: 23px;
}

@media (max-width: 855px) {
  .phoneImages {
    margin: 0;

    img {
      display: none;
    }
  }
}