.decorationBorderWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #828384C4;
  font-size: 14px;

  .line {
    width: 108px;
    height: 1px;
    background-color: #828384C4;
    opacity: 0.5;
  }
}