.titleDocumentation {
  margin-top: 15px;

  p {
    display: flex;
    font-size: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 210px;
    gap: 2px;
  }

  a {
    text-decoration: none;
    color: #8e8e8e;
    font-weight: bold;
  }
}