.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerBar {
  display: flex;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.wrapperContain {
  border: 1px solid #dbdbdb;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  background-color: white;
}

.logo {
  img {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    margin-left: 20px;
  }
}

.moreFunc {
  margin-right: 20px;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 100%;
  max-height: 100%;

  img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

.socialSectionWrapper {
  padding: 0 20px;
}

.socialSection {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.infoBlock {
  display: flex;
  gap: 10px
}

.socialBar {
  display: flex;
  gap: 10px
}

.views {
  padding: 10px 0;
}

.author, .views {
  font-weight: bold;
}

.comments {
  width: 100%;
}

.addCommentWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  border-top: 1px solid #dbdbdb;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
  box-sizing:border-box;
}

.wrapperContainComment {
  display: flex;
  gap: 20px;
  align-items: center;
  input {
    width: 100%;
    height: 50px;
    border: none;
  }
}