.headerChat {
  border-bottom: 1px solid #dbdbdb;
  height: 60px;
  padding: 0 20px;
}

.chatSection {
  width: 48vw;
}

@media (max-width: 900px) {
  .chatSection {
    width: 54vw;
  }
}

@media (max-width: 700px) {
  .chatSection {
    width: 60vw;
  }
}

@media (max-width: 600px) {
  .chatSection {
    width: 70vw;
  }
}

@media (max-width: 500px) {
  .chatSection {
    width: 100vw;
  }
}