.header {
    border-bottom: solid 1px rgba(27,32,36,0.9);
    //position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: 30px;
    width: 103px;
    -o-object-fit: contain;
    object-fit: contain;
}
