.header {
    grid-area: h;
    border: solid 1px ;
    /*position: fixed;*/
    /*top: 0;*/
    display: flex;
}

img{
    height: 30px;
    width: 103px;
    -o-object-fit: contain;
    object-fit: contain;
}
