.loginFbButton {
  img {
    width: 6%;
  }

  a {
    font-size: 14px;
    color: #4267b1;
    text-decoration: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.errorWindow {
  display: none;
}

.forgotPasswordBtn {
  color: #2f4e8f;
  font-size: 11px;
  text-decoration: none;
  padding-bottom: 25px;

  &:active {
    opacity: 0.3;
  }
}