.wrapperBox {
  margin: 35px auto 15px;

  .buttonSignInFb {
    height: 33px;
    gap: 9px;

    img {
      width: 10%;
    }
  }
}

.loginWindowForm {
  border: 1px solid #dbdbdb;
  background-color: white;
  color: #8e8e8e;
  padding: 30px 50px;
}

.signInWrapper {
  height: 70px;
  background-color: white;
  border: 1px solid #dbdbdb;

  a {
    text-decoration: none;
    color: #0095f6;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

    &:active {
      opacity: 0.3;
    }
  }
}

.logo {
  width: 175px;
  height: 50px;
  padding: 25px 0 25px;
}