.phoneImages {
  display: flex;
  margin-right: -35px;

  .images {
    width: 95%;
  }
}

.dynamicImg {
  position: absolute;
  margin-left: 144px;
  margin-top: 23px;
}

@media (max-width: 855px) {
  .phoneImages {
    display: none;
  }
}