.socialSectionWrapper {
  padding: 0 10px;
  font-size: 14px;
}

.views {
  padding: 10px 0;
}

.date {
  opacity: 0.6;
}

.comments {
  border: none;
  background-color: white;
  display: flex;
  padding: 0;
  opacity: 0.6;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}
