.userMessageItem {
  padding: 8px 20px;

  &:active {
    background-color: #dbdbdb;
  }

  &:hover {
    cursor: pointer;
  }
}

.active {
  background-color: #dbdbdb;
}

.itemUser {
  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: #dbdbdb;
    width: 370px;
    border-radius: 15px;
  }
}