.userMessageItem {
  padding: 8px 20px;
  cursor: pointer;

  &:active {
    background-color: #efefef;
  }
}

.active {
  background-color: #efefef;
}

.itemUser {
  cursor: pointer;

  &:active {
    background-color: #efefef;
    border-radius: 15px;
  }
}

@media (max-width: 500px) {
  .userMessageItem {
    flex-wrap: wrap;
  }
}