.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;


}

.app-wrapper-content {
  border: 1px solid #dbdbdb;
  width: 75%;
  margin: 1%;
  display: flex;
  position: relative;
  background-color: white;
}
