.app-wrapper {
  display: grid;
  grid-template-areas:
    'h h'
    'c n';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 10fr 4fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}


.app-wrapper-content{
  grid-area: c;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 10px;
}


