.formWrapper {
  input {
    font-size: 12px;
    background-color: #fafafa;
  }

  .passwordWrapper {
    background-color: #fafafa;
  }

  label {
    font-size: 12px;
  }

  .signUpBtn {
    height: 33px;
  }
}