@import "./src/common/styleVariables/styleVariables.module";

.formWrapper {
  input {
    font-size: 12px;
    background-color: #fafafa;
    width: 235px;
    height: 18px;
  }

  .passwordWrapper {
    width: 264px;
  }

  label {
    font-size: 12px;
  }

  .signUpBtn {
    @extend %buttonStyles;
    width: 266px;
    height: 33px;
  }
}