%buttonStyles {
  height: 30px;
  background-color: #0095f6;
  text-transform: none;
  color: white;

  &:disabled {
    opacity: 0.3;
    background-color: #0095f6;
    color: white;
  }

  &:hover {
    background-color: #0095f6;
    opacity: 0.7;
  }
}